.full-banner{
        width: 100%;
        height: 250px;

        @media screen and (max-width: 414px) {
                height: 150px;
        }
       
        a {
                width: 100%;
                height: 100%;
                display: block;
        }

        img {
                width: 100%;
                height: 100%;
        }
}






